@media (min-width: 1825px) {
    .min-1825px {
        display: block !important;
    }
}

@media (max-width: 1825px) and (min-width: 1200px) {
    .max-1825px {
        display: block !important;
    }

    .section-subtitle {
        font-size: 110px;
        font-style: normal;
        font-weight: 700;
        color: var(--bs-primary);
        opacity: .1;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        bottom: -60px;
        left: -220px;
    }
}

@media (min-width: 1200px) {
    .section-title {
        transform: translateY(60px);
        text-align: start;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        color: var(--bs-primary);
        opacity: .1;
        line-height: normal;
        text-transform: uppercase;
    }

    .intro-rImg {
        max-width: 482px !important;
        max-height: 339px !important;
    }

    .intro-rImg2 {
        max-width: 277px !important;
        max-height: 277px !important;
    }
}

@media (min-width: 575px) {
    .border-lg-end {
        border-right: 1px solid var(--bs-gray);
    }
}

@media (max-width: 767px) {
    .scroll_up {
        right: 1rem;
    }
}

@media (max-width: 575px) {
    .site-logo {
        width: 130px;
    }

    .fs-44pxMb {
        font-size: 44px !important;
    }

    .fw-boldMb {
        font-weight: bold !important;
    }

    .fs-14pxMb {
        font-size: 14px !important;
    }

    .fs-16pxMb {
        font-size: 16px !important;
    }

    .fs-18pxMb {
        font-size: 18px !important;
    }

    .fs-20pxMb {
        font-size: 20px !important;
    }

    .fs-22pxMb {
        font-size: 22px !important;
    }

    .fs-24pxMb {
        font-size: 24px !important;
    }

    .footer-form {
        width: 270px !important;
    }

    .w-100Mb {
        width: 100% !important;
    }

    .titleOnly-mb {
        display: block !important;
        opacity: .1;
        text-align: center;
        text-transform: uppercase;
        width: max-content;
        overflow: hidden;
        transform: translateY(20px);
        font-size: 50px !important;
    }

    .prizma-section .titleOnly-mb {
        display: block !important;
        padding: 0 !important;
        opacity: .1;
        text-align: center;
        text-transform: uppercase;
        width: max-content;
        overflow: hidden;
        transform: translateY(45px);
        font-size: 77px !important;
    }
}